[debug] {
  .emoji-item {
    background-color: rgba(255, 192, 203, 0.704);
    border-radius: 50%;
    border: 2px solid rgba(255, 0, 0, 0.676);
  }

  dobble-card#\$cardA {
    .card-circle {
      background: bisque;
    }
  }

  dobble-card#\$cardB {
    .card-circle {
      background: aquamarine;
    }
  }

  dobble-card#\$cardC {
    .card-circle {
      background: cornflowerblue;
    }
  }
}
