/* ===== Screens ===== */
.screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.screen.active {
  display: flex;
}

.screen.overlay {
  z-index: 100;
  background: var(--overlay);
  backdrop-filter: blur(8px);
}

/* ===== Start Screen ===== */
.start-content {
  padding: 40px 20px;
}

.game-title {
  font-size: 75px;
  font-weight: 900;
  letter-spacing: 8px;
  /* text-shadow: 0 4px 20px rgba(245, 197, 24, 0.5); */
  color: var(--accent);
  text-shadow: 5px 5px 10px #5800b2;
}

.game-subtitle {
  text-shadow: 2px 2px 2px #320065;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  opacity: 0.8;
}

.card-preview {
  width: min(55vw, 220px);
  height: min(55vw, 220px);
  margin: 10px 0 20px;
}

/* ===== How To Play ===== */
.howto-content {
  padding: 40px 30px;

  /* colors */
  background: #4a2272b8;
  border-radius: 30px;
  border: 3px solid #cf98ff;
  box-shadow:
    inset 0 0 1px 3px #3b1d75,
    0px 4px 15px 0px #2f1679;
}

.howto-content h2 {
  font-size: 28px;
  color: var(--accent);
}

.howto-steps {
  max-width: 320px;
}

.howto-step {
  text-align: left;
}

.step-num {
  min-width: 36px;
  height: 36px;
  background: var(--accent);
  color: var(--text-dark);
  border-radius: 50%;
  font-weight: 700;
  font-size: 16px;
}

.howto-step p {
  font-size: 15px;
  line-height: 1.4;
  opacity: 0.9;
}
