/* ===== Mini Utility Classes ===== */

/* -- Display -- */
.flex {
  display: flex;
}

.hidden,
[hidden] {
  display: none !important;
}

/* -- Direction -- */
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

/* -- Justify Content -- */
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

/* -- Align Items -- */
.items-center {
  align-items: center;
}

/* -- Gap -- */
.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-4 {
  gap: 16px;
}
.gap-5 {
  gap: 20px;
}
.gap-6 {
  gap: 24px;
}

/* -- Width -- */
.w-full {
  width: 100%;
}

/* -- Text Align -- */
.text-center {
  text-align: center;
}

.text-outline {
  --color: #ffffff;
  --stroke: var(--accent);
  --stroke-secondary: var(--bg-primary);
  /* --shadow:  */

  position: relative;

  color: var(--color);

  /* todo: set text attr for parent first */
  &:before,
  &:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &:before {
    -webkit-text-stroke: 0.3em var(--stroke);
    filter: drop-shadow(0 0.05em 0.05em var(--stroke-secondary))
      drop-shadow(0 0.05em 0.05em var(--stroke-secondary));
  }
  &:after {
    -webkit-text-stroke: 0.15em var(--stroke-secondary);
  }
}
